.login {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #f8f8f8;
}

.login__container {
  padding: 100px;
  background-color: white;
  text-align: center;
  border-radius: 0.625rem;
  box-shadow: 5px 5px 10px #e8e5e5, -5px -5px 10px white;
}

.login__container > img {
  object-fit: contain;
  width: 7.5rem;
}

.login__container > h1 {
  margin-top: 2.5rem;
}

.login__container > button {
  margin-top: 1.25rem;
  text-transform: inherit;
  background-color: green;
  color: white;
}

.login__container > button:hover {
  background-color: darkgreen;
}

@media only screen and (max-width: 600px) {
  .login__container {
    padding: 3.125rem;
    margin-bottom: 3.125rem;
  }
}
