.message {
  display: flex;
  align-items: center;
  padding: 1.25rem;
}

.message > img {
  width: 3.125rem;
  height: 3.125rem;
  object-fit: contain;
  border-radius: 50%;
}

.message__info {
  margin-left: 0.625rem;
}

.message__info > h4 {
  display: flex;
  align-items: center;
}

.message__timestamp {
  margin-left: 0.625rem;
  color: var(--gray);
  font-weight: 300;
  font-size: 0.875rem;
}

@media only screen and (max-width: 400px) {
  .message__info > h4 {
    margin-top: 0.625rem;
  }
}
